@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mobile {
  background-image: url(./assets/bg-mobile.svg);
  background-size: contain;
}

.bg-desktop {
  background-image: url(./assets//bg-desktop.svg);
  background-size: contain;
}
